@use 'styles/variables' as variables;

.infoIcon {
  height: 34px;
  width: 34px;
  path {
    fill: variables.$color-primary;
  }
}

.container {
  display: flex;

  &:focus {
    border-radius: variables.$border-radius-20;
    box-shadow: inset 0 0 0 2px variables.$color-navigation-icon;
  }
}
