@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.userManagementHeader {
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
  align-items: center;
  justify-items: start;
  grid-gap: variables.spacing(4);
  margin-bottom: variables.spacing(7);
}
.invisible {
  visibility: hidden;
}
.searchInput {
  margin-bottom: variables.spacing(2);
}
.generalUsersListInput input {
  min-width: 328px;
}
