@import 'styles/variables';

.container {
  display: grid;
  margin: spacing(1) spacing(3);
  background: $color-white;
  border: 1px solid $color-border;
  box-shadow: 0 4px 10px $color-shadow-main;
  border-radius: $border-radius-6;
}
