@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.helperText {
  padding-top: variables.spacing(2);
  color: variables.$color-primary;
  @include mixins.subtitleSmallTextStyle;
  order: 3;
}

.fileInput {
  display: none;
}

.fileButton {
  max-width: fit-content;
  order: 2;
}

.fileImportContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.fileLabel {
  padding-top: variables.spacing(6);
  order: 4;
}

.fileContainer {
  background: variables.$color-white;
  border: 1px solid variables.$color-border;
  border-radius: 6px;
  max-width: 418px;
  padding: variables.spacing(4) variables.spacing(3);
  margin-top: variables.spacing(2);
  display: flex;
  align-items: center;
  order: 5;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.errorContainer {
  background: variables.$color-error-light;
  border: 1px solid variables.$color-error;
  border-radius: 6px;
}

.icon {
  align-self: flex-start;
  padding-top: variables.spacing(1);
}

.fileDetailsContainer {
  padding-left: variables.spacing(3);
  flex: auto;
}

.fileName {
  @include mixins.labelTextStyle;
}

.fileSize {
  @include mixins.subtitleSmallTextStyle;
  color: variables.$color-input-main;
}

.errorText {
  color: variables.$color-error;
  @include mixins.subtitleSmallTextStyle;
  padding-top: variables.spacing(2);
  max-width: 418px;
  order: 6;
}

.tableStyleContainer {
  .fileButton {
    margin-top: unset;
  }
}

.button {
  display: flex;
  padding: variables.spacing(1);

  &:focus {
    box-shadow: inset 0 0 0 2px variables.$color-error;
  }
}
