@import 'styles/variables';
@import 'styles/mixins';

.helperText {
  padding-top: spacing(2);
  color: $color-primary;
  @include subtitleSmallTextStyle;
  order: 3;
}

.fileInput {
  display: none;
}

.fileButton {
  margin-top: spacing(4);
  max-width: fit-content;
  order: 2;
}

.fileImportContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
