@use 'styles/variables' as variables;

.expandableContainer {
  border-left: variables.spacing(1) solid;
  &:not(:first-child) {
    margin-top: variables.spacing(4);
  }
  &.registered {
    border-color: variables.$color-highlight;
  }
  &.new {
    border-color: variables.$color-warning;
  }
  &.tasks_submitted_to_vendors {
    border-color: variables.$color-success;
  }
  &.tasks_in_progress {
    border-color: variables.$color-primary;
  }
  &.tasks_completed {
    border-color: variables.$color-success;
  }
  &.done_task {
    border-color: variables.$color-success;
  }
  &.cancelled {
    border-color: variables.$color-border;
  }
  &.completed {
    border-color: variables.$color-warning;
  }
}
