@use 'styles/variables' as variables;

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: variables.spacing(17);

  .label {
    margin-bottom: variables.spacing(1);
    color: variables.$color-input-main;
    font-size: variables.$font-size-14;
  }

  .valueText {
    text-align: left;
  }

  &.columnCompact {
    margin-right: variables.spacing(6);
  }

  .boldValueText {
    text-align: left;
    font-weight: variables.$font-weight-bold;
  }
}
