@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.pendingContainer {
  @include mixins.subtitleSmallTextStyle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: variables.spacing(2);
  color: variables.$color-text;
  min-height: 80px;
  margin-top: variables.spacing(14);
}

.bandsCell {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.expandableContainer {
  margin-top: variables.spacing(8);
}

.translationMemoriesTable {
  border: unset;
  box-shadow: unset;
}

.mainButton {
  margin-left: variables.spacing(2);
}
