@use 'styles/variables' as variables;

.topSection {
  padding: variables.spacing(6) variables.spacing(4);
}

.container {
  padding-top: variables.spacing(2);
}

.generalPriceListInput input {
  min-width: 328px;
}
