@use 'styles/variables' as variables;

.sourceFilesText,
.helperText {
  color: variables.$color-primary;
  margin-bottom: variables.spacing(4);
  display: block;

  b {
    font-weight: variables.$font-weight-bold;
  }
} 

.linkButton {
  margin-left: variables.spacing(12);
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: variables.spacing(6) variables.spacing(4) variables.spacing(4);
}

