@import 'styles/variables';
@import 'styles/mixins';

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.controlTimeTop,
.controlTimeBottom {
  position: inherit;
  left: 20px;
}

// .controlTimeTop,
// .controlTimeBottom {
//   position: inherit;
//   // cursor: pointer;
//   // transition: opacity 0.5s;
//   // &:hover {
//   //   opacity: 0.5;
//   // }
// }

.controlTimeBottom svg {
  transform: rotate(180deg);
}

.timeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 106px;
  width: auto;
  overflow: hidden;
}

.selector {
  height: 40px;
  width: 34px;
  background-color: $color-white;
  border: 1px solid $color-input-border;
  border-radius: 5px;
  position: absolute;
  top: 32px;
}

.timeWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
  padding-top: 40px;
}

// .time {
//   z-index: 1;
//   color: blue;
//   opacity: 0.5;
//   transition: color 0.5s;
// }

.numbers {
  display: none;
}

.selected {
  color: $color-text-dark;
  @include buttonTextStyle;
  padding: 1px 8px;
}

// .disabled {
//   opacity: 0.2 !important;
// }
