@import 'styles/variables';
@import 'styles/mixins';

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.controlTimeTop,
.controlTimeBottom {
  position: inherit;
}

.controlTimeBottom {
  top: -37px;
}

.controlTimeTop {
  padding-top: 8px;
}

.controlTimeTop svg {
  transform: rotate(270deg);
}

.controlTimeBottom svg {
  transform: rotate(90deg);
}

.controlTimeTop svg g path,
.controlTimeBottom svg g path {
  fill: $color-border-secondary;
}

// .controlTimeTop,
// .controlTimeBottom {
//   position: inherit;
//   // cursor: pointer;
//   // transition: opacity 0.5s;
//   // &:hover {
//   //   opacity: 0.5;
//   // }
// }

.timeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 106px;
  width: auto;
}

.selector {
  height: 40px;
  width: 34px;
  background-color: $color-white;
  border: 1px solid $color-input-border;
  border-radius: 5px;
  position: absolute;
  top: 32px;
}

.timeWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-43px);
  margin-top: 44px;
}

.numbers {
  display: none;
}

.selected {
  color: $color-text-dark;
  @include buttonTextStyle;
  padding: 1px 8px;
}

// .disabled {
//   opacity: 0.2 !important;
// }
