@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

//HeaderItem
.headingWrapper {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-gap: variables.spacing(2);

  input {
    order: -1;
  }
}

.iconButton {
  padding: variables.spacing(1);

  svg {
    padding: 0;
    width: 20px;
    height: 20px;
  }

  svg g path,
  svg path {
    fill: variables.$color-input-main;
    fill-opacity: 1;
  }
}

.customCalendarContainer {
  background: variables.$color-white;
  border: 1.25px solid variables.$color-input-border;
  border-radius: variables.spacing(1);
}

.calendar {
  border: none !important;
}

.buttonsContainer {
  display: flex;
  padding: variables.spacing(3) 0;
  justify-content: center;
  box-shadow: 0 -1px 1px variables.$color-shadow-secondary;
}

.leftMargin {
  margin-left: variables.spacing(2);
}

.rangeTriggers {
  display: flex;
  gap: variables.spacing(1);
}
