@import 'styles/variables';
@import 'styles/mixins';

//HeaderItem
.headingWrapper {
  display: grid;
  grid-auto-flow: column;

  justify-content: start;
  align-items: center;

  input {
    order: -1;
  }

  button {
    width: max-content;
    padding: 0;
    svg g path,
    svg path {
      fill: $color-input-main;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
