@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.detailsContainer {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: variables.spacing(25);

  @media (max-width: variables.$medium_desktop) {
    grid-gap: variables.spacing(0);
  }
  @media (max-width: variables.$small_desktop) {
    grid-template-columns: 1fr;
  }
}
.memoryDetails {
  display: grid;
  grid-template-columns: 140px auto;
  grid-column-gap: variables.spacing(10);
  justify-items: left;
  align-items: center;
  width: max-content;
  grid-row-gap: variables.spacing(4);
  height: max-content;
}
.valueClass {
  max-width: 220px;
}

.labelClass {
  align-self: start;
  justify-self: end;
  height: 24px;
}

.grayColor {
  grid-row-gap: variables.spacing(0);
  color: variables.$color-input-main;
  grid-column: 1/-1;
}

.hidden {
  visibility: hidden;
}

.tag {
  @include mixins.bodyTextSmallStyle;
  color: variables.$color-primary;
  background-color: variables.$color-tag;
  font-weight: variables.$font-weight-bold;
  padding: variables.spacing(0.625) variables.spacing(1);
  border-radius: 4px;
}

.deleteButton {
  @include mixins.bodyTextSmallStyle;
  color: variables.$color-error;
  padding: variables.spacing(1);
  justify-self: end;

  svg {
    width: 20px;
    height: 21px;

    path {
      fill: variables.$color-error;
    }
  }
  &:focus {
    box-shadow: inset 0 0 0 2px variables.$color-error;
  }
}

.form {
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: calc(variables.$medium_desktop - 100px)) and (min-width: variables.$small_desktop) {
    grid-template-columns: 1fr;
  }
}

.inputInternalPosition {
  justify-content: flex-end;
  margin-bottom: variables.spacing(4);
  padding-right: variables.spacing(10);

  input,
  textarea {
    width: 274px;
  }
}
.formButtons {
  margin: variables.spacing(4);
}
