@use 'styles/variables' as variables;

.editTagInput {
  margin: variables.spacing(4) 0;
  div input {
    width: 274px;
  }
  label {
    display: none;
  }
}

.formContainer {
  display: grid;
  grid-gap: variables.spacing(6);
  margin: variables.spacing(6) 0;
}
