@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.pricesDataTableHeader {
  display: flex;
}

.iconsContainer {
  display: flex;
}

.dateText {
  @include mixins.bodyTextSmallStyle;
  color: variables.$color-input-main;
  &:first-of-type {
    margin-top: variables.spacing(2);
  }
}

.vendorPricesContainer {
  margin-top: variables.spacing(9);
}

.hiddenVendorPrices > div {
  display: none;
}
