@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.title {
  margin: variables.spacing(6) variables.spacing(4);
}

.horizontallyScrollableClassName {
  overflow-x: unset;
}

.tableWrapper {
  overflow-x: auto;
}

.tableWrapper,
.horizontallyScrollableClassName {
  white-space: nowrap;

  .dataTable {
    overflow-x: auto;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    display: table;
    @include mixins.bodyTextStyle;
  }

  .l {
    th,
    td {
      padding: variables.spacing(4) variables.spacing(3.5);
      height: 56px;
    }
  }
  .m {
    th,
    td {
      padding: 0 variables.spacing(3.5);
      height: 48px;
      max-height: 48px;
    }
  }
  .s {
    th,
    td {
      padding: variables.spacing(1) variables.spacing(3.5);
      height: 40px;
    }
  }

  th {
    border-bottom: 1px solid variables.$color-border-secondary;
    vertical-align: middle;
    color: variables.$color-text;
  }
  td {
    border-bottom: 1px solid variables.$color-border;
    vertical-align: middle;
  }

  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: 1px solid variables.$color-border-secondary;
        }
      }
    }
  }
}
