@import 'styles/variables';
@import 'styles/mixins';

.title {
  margin: spacing(6) spacing(4);
}

.tableWrapper {
  display: grid;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;

  .dataTable {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    display: table;
    @include bodyTextStyle;
  }

  .l th,
  td {
    padding: spacing(3) spacing(3.5);
  }
  .m th,
  td {
    padding: spacing(2) spacing(3.5);
    line-height: 20px;
  }
  .s th,
  td {
    padding: spacing(1) spacing(3.5);
    line-height: 20px;
  }

  th {
    border-bottom: 1px solid $color-border-secondary;
    color: $color-text;
  }
  td {
    border-bottom: 1px solid $color-border;
  }

  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: 1px solid $color-border-secondary;
        }
      }
    }
  }
}
