@use 'styles/variables' as variables;

.formButtons {
  padding-top: variables.spacing(4);
  display: flex;
  justify-content: flex-end;

  :first-child {
    margin-right: variables.spacing(2);
  }
}