@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.tag {
  @include mixins.bodyTextSmallStyle;
  color: variables.$color-input-main;
  font-weight: variables.$font-weight-bold;
  padding: variables.spacing(0.625) variables.spacing(1);

  &.border {
    box-shadow: 1px 0 0 0 variables.$color-background-dark;
    padding: variables.spacing(0.5) variables.spacing(2);
  }

  &.active {
    background-color: variables.$color-tag;
    border-radius: 4px;
    color: variables.$color-primary;
    z-index: 1;

    &.border {
      box-shadow: 0 0 0 1px variables.$color-primary;
      border: unset;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}
