@use 'styles/variables' as variables;

.topSection {
  padding: variables.spacing(6) variables.spacing(4);
}

.checkbox {
  margin: variables.spacing(4) 0;
}

.tagsRow {
  display: flex;
  :not(:first-child) {
    margin-left: variables.spacing(2);
  }
}

.deadline {
  font-size: variables.$font-size-16;

  &.error {
    color: variables.$color-error;
  }
}

.searchInput {
  margin-top: variables.spacing(2);
  .searchInnerContainer {
    input {
      width: 328px;
    }
  }
}