@import 'styles/variables';

.container {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: spacing(1);

  .bar {
    width: 5px;
    height: 24px;
    background-color: $color-success;

    &.vacation {
      background-color: $color-primary;
    }
  }
}

.content {
  padding: spacing(1);
  width: fit-content;
  white-space: nowrap;
  margin-left: -9px;
}