@use 'styles/variables' as variables;

.container {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: variables.spacing(1);

  .bar {
    width: 5px;
    height: 24px;
    background-color: variables.$color-success;

    &.vacation {
      background-color: variables.$color-primary;
    }
  }
}

.content {
  padding: variables.spacing(1);
  width: fit-content;
  white-space: nowrap;
  margin-left: -9px;
}