@import 'styles/variables';

.editTagInput {
  margin: spacing(4) 0;
  div input {
    width: 274px;
  }
  label {
    display: none;
  }
}

.deleteIcon {
  display: inline-flex;
  margin-left: spacing(4);
  color: $color-error;
}

.deleteIcon svg path {
  fill: $color-error;
}
