@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.manualContainer {
  display: grid;
  grid-template-columns: 70fr 30fr;
  padding: variables.spacing(2) variables.spacing(7) variables.spacing(16) variables.spacing(7);

  .manualContentContainer {
    grid-column-start: 1;
    background-color: variables.$color-white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.14);
    padding: variables.spacing(8);
    margin-top: variables.spacing(4);
    @include mixins.manualStyle(variables.$color-text-dark);

    h1,
    h2 {
      margin-bottom: variables.spacing(4);
    }
  }
}