@use 'styles/variables' as variables;

.modalContent {
  padding: 0 variables.spacing(4);
}

.filesTable {
  border: unset;
  box-shadow: unset;

  th:first-child,
  td:first-child {
    width: 1%;
    white-space: nowrap;
  }
}

.fileNameCell {
  display: inline-flex;
  align-items: center;
  gap: variables.spacing(1);
}
