@import 'styles/variables';

.searchInput {
  margin-top: spacing(6);
}

.generalPriceListInput {
  background-image: url('../../assets/icons/search.svg');
  box-shadow: 0px 1px 3px 0px $color-shadow-secondary,
    0px 2px 2px 0px $color-checkbox-focus, 0px 0px 2px 0px $color-shadow-main;
  background-size: 20px 20px;
  background-position: spacing(4) center;
  background-repeat: no-repeat;
  width: 328px;
  border: solid $color-background 1px;
  padding: spacing(2) spacing(2) spacing(2) spacing(12);
  background-color: $color-white;
  border-radius: 4px;
  height: 100%;

  &:focus {
    border-color: $color-primary;
  }
}
