@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.container {
  display: flex;
  align-items: center;
  height: 40px;

  .inputContainer {
    position: relative;
    height: 100%;
    border-radius: 4px;
  }

  .label {
    @include mixins.labelTextStyle;
    padding-right: variables.spacing(2.5);

    &.hidden {
      display: none;
    }
  }

  input {
    @include mixins.labelTextStyle;
    cursor: auto;
  }

  &.disabled {
    cursor: not-allowed;
    input,
    textarea,
    .label {
      pointer-events: none;
    }
  }

  &.error {
    .inputField {
      border-color: variables.$color-error;
    }
  }

  .addDeleteButton {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    grid-gap: variables.spacing(4);

    .button {
      @include mixins.bodyTextSmallStyle;
      color: variables.$color-error;
      padding: variables.spacing(1);

      svg {
        width: 20px;
        height: 21px;

        path {
          fill: variables.$color-error;
        }
      }
      &:focus {
        box-shadow: inset 0 0 0 2px variables.$color-error;
      }
    }
  }

  &.textareaContainer {
    height: unset;
    align-items: flex-start;
    .inputContainer {
      height: unset;
    }

    .inputField {
      height: unset;
      resize: none;
    }
  }
}

.inputField {
  padding: variables.spacing(2);
  background-color: variables.$color-white;
  border: solid variables.$color-input-border 1px;
  border-radius: 4px;
  height: 100%;

  &:focus {
    border-color: variables.$color-primary;
  }

  &:disabled {
    background-color: variables.$color-background;
  }
}

.searchInputContainer {
  min-height: 46px;

  .inputField {
    padding-left: variables.spacing(13);
    background-image: url('../../../assets/icons/search.svg');
    box-shadow: 0px 1px 3px 0px variables.$color-shadow-secondary,
      0px 2px 2px 0px variables.$color-checkbox-focus, 0px 0px 2px 0px variables.$color-shadow-main;
    background-size: 20px 20px;
    background-position: variables.spacing(4) center;
    background-repeat: no-repeat;
    width: 258px;
    border: solid variables.$color-background 1px;
    &:focus {
      border-color: variables.$color-primary;
    }
  }

  &.loading {
    .inputField {
      background-image: url('../../../assets/icons/loading.gif');
    }
  }
}
