@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  align-items: center;
  background-color: $color-highlight;
  border-radius: 8px;
  padding: 8px 20px;

  .label {
    @include labelTextStyle;

    &.hidden {
      display: none;
    }
  }

  input {
    @include labelTextStyle;
  }
}