@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.timeInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: variables.$color-white;
  border: 1px solid variables.$color-input-border;
  border-radius: 4px;
  color: variables.$color-input-border;
  @include mixins.buttonTextStyle;
  height: 40px;
  padding: variables.spacing(2);

  &:focus {
    color: variables.$color-text-dark;
    border-color: variables.$color-primary;
  }
  &.error {
    border: 1px solid variables.$color-error;
    border-radius: 5px;
  }
}

.disabledTimeInput {
  background-color: variables.$color-background;
  cursor: not-allowed;
}

.disabledTimeInput:focus {
  color: variables.$color-input-border;
  border-color: variables.$color-input-border;
}

.timeIcon {
  position: absolute;
  right: 8px;
  top: 8px;
  pointer-events: none;
}

.disabledIcon path {
  fill: variables.$color-input-border;
}

.timePickerWrapper {
  width: 125px;
  position: relative;
}
