@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.wrapper {
  display: flex;
  align-items: center;
}

.label {
  @include mixins.labelTextStyle;
  display: inline-block;
  padding-right: variables.spacing(2.5);
  text-align: end;
}

.innerWrapper {
  display: flex;
  gap: 12px;
}

.datePickerContainer {
  flex: 0 0 125px;
  max-width: 125px;
}

.timeSelectWrapper {
  width: 125px;
  position: relative;
}

.timeSelectTrigger {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: variables.spacing(2);
  background-color: variables.$color-white;
  border: 1px solid variables.$color-input-border;
  border-radius: 4px;
  @include mixins.buttonTextStyle;

  &:disabled {
    background-color: variables.$color-background;
    cursor: not-allowed;
  }
}