@import 'styles/variables';
@import 'styles/mixins';

.container {
  grid-column: 1/-1;
  border-radius: $border-radius-4;
  padding: spacing(4);

  .titleRow {
    display: grid;
    grid-template-columns: max-content max-content max-content auto;
    grid-gap: spacing(2);
    align-items: center;
  }

  .title {
    color: $color-primary;
    padding: spacing(3) spacing(4);
  }

  .detailsContainer {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: spacing(25);
  }
  .memoryDetails {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: spacing(10);
    justify-items: left;
    align-items: center;
    width: max-content;
  }
  .labelClass {
    justify-self: end;
  }

  .valueClass,
  .labelClass {
    margin-bottom: spacing(4);
    &:nth-last-child(-n + 4) {
      color: $color-input-main;
      margin-bottom: 0;
    }
  }
  .tag {
    @include bodyTextSmallStyle;
    color: $color-primary;
    background-color: $color-tag;
    font-weight: $font-weight-bold;
    padding: spacing(0.625) spacing(1);
    border-radius: 4px;
    margin-bottom: spacing(4);
  }

  .deleteButton {
    @include bodyTextSmallStyle;
    color: $color-error;
    padding: spacing(1);
    justify-self: end;

    svg {
      width: 20px;
      height: 21px;

      path {
        fill: $color-error;
      }
    }
    &:focus {
      box-shadow: inset 0 0 0 2px $color-error;
    }
  }
}

.form {
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inputInternalPosition {
  justify-content: flex-end;
  margin-bottom: spacing(4);
  padding-right: spacing(10);

  input,
  textarea {
    width: 274px;
  }
}
.formButtons {
  margin: spacing(4);
}
