@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.container {
  grid-column: 1/-1;
  border-radius: variables.$border-radius-4;
  padding: variables.spacing(4);

  .titleRow {
    display: grid;
    grid-template-columns: max-content max-content max-content auto;
    grid-gap: variables.spacing(2);
    align-items: center;
  }

  .title {
    color: variables.$color-primary;
    padding: variables.spacing(3) variables.spacing(4);
  }

  .deleteButton {
    @include mixins.bodyTextSmallStyle;
    color: variables.$color-error;
    padding: variables.spacing(1);
    justify-self: end;

    svg {
      width: 20px;
      height: 21px;

      path {
        fill: variables.$color-error;
      }
    }
    &:focus {
      box-shadow: inset 0 0 0 2px variables.$color-error;
    }
  }
}
