@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

// Pagination
.paginationWrapper {
  display: flex;
  justify-content: center;
  padding: variables.spacing(2) variables.spacing(5);
  overflow-y: visible;

  .pagination {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: variables.spacing(4);
    margin: variables.spacing(0) auto;

    + .pageSizeWrapper {
      margin-left: variables.spacing(0);
    }

    .links {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: variables.spacing(2);

      .list {
        display: block;

        .pageNumber {
          padding: variables.spacing(0);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: variables.$color-white;
        }

        &.active {
          .pageNumber {
            color: variables.$color-white;
            background-color: variables.$color-primary;
          }
        }
      }
    }

    .arrows {
      padding: variables.spacing(2);
      &.toRight {
        transform: rotate(-180deg);
      }
    }
  }
  .pageNumber {
    @include mixins.subtitleSmallTextStyle;
    color: variables.$color-input-main;
  }

  .pageSizeWrapper {
    width: auto;
    text-align: center;

    svg {
      width: 16px;
      height: 16px;
      margin-right: -4px;
    }
    p {
      @include mixins.subtitleSmallTextStyle;
      line-height: variables.$line-height-16;
      width: max-content;
    }
  }
}
