@import 'styles/variables';
@import 'styles/mixins';

// Pagination
.paginationWrapper {
  display: flex;
  justify-content: center;
  padding: spacing(2) spacing(11);

  .pagination {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: spacing(4);
    margin: 0 auto;

    + .pageSizeWrapper {
      margin-left: 0;
    }

    button {
      height: 100%;
      &:focus {
        box-shadow: none;
      }
    }

    .links {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: spacing(2);

      li {
        display: block;

        a,
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          border-radius: 50%;

          &:hover {
            text-decoration: none;
          }
        }

        &.active {
          a,
          span {
            color: $color-white;
            background-color: $color-primary;
          }
        }
      }
    }
    .arrow {
      transform: rotate(-180deg);
    }
  }
  .pageNumber,
  .pageSizeLabel,
  .pageSizeSelect {
    @include subtitleSmallTextStyle;
    color: $color-input-main;
  }

  .pageSizeWrapper {
    display: grid;
    grid-template-columns: max-content 47px;
    align-items: center;
    justify-items: center;
    gap: spacing(2);
    margin-left: auto;

    .pageSizeSelect {
      width: 100%;
      appearance: none;
      padding: spacing(0.5) spacing(4) spacing(0.5) spacing(1.5);
      border: 1px solid $color-border;
      border-radius: $border-radius-2;
      background-color: $color-white;
      background-image: url('/assets/icons/arrow_down.svg');
      background-repeat: no-repeat;
      background-position: top 11px right 8px;
    }
  }
}
