@import 'styles/variables';
@import 'styles/mixins';

.progressBarSteps {
  display: grid;
  grid-auto-flow: column;
  grid-gap: spacing(11);
  background-color: $color-background;
  border-radius: $border-radius-5;
  width: 100%;
}

.step {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: spacing(2);
  padding: spacing(2);
  border-top-left-radius: $border-radius-5;
  border-bottom-left-radius: $border-radius-5;
  position: relative;
  white-space: nowrap;
  cursor: pointer;

  .stepNumber {
    color: $color-input-main;
    background-color: $color-white;
    border-radius: $border-radius-20;
    padding: spacing(0) spacing(1.5);
    font-weight: $font-weight-bold;
    @include bodyTextSmallStyle;
  }

  .stepLabel {
    @include bodyTextSmallStyle;
  }

  &.currentStep {
    background-color: $color-primary;
    color: $color-white;
    @include badgeEndTriangles($color-primary);

    &:focus {
      box-shadow: inset 0 0 0 2px $color-navigation-icon;
    }
  }
}
