@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.progressBarSteps {
  display: grid;
  grid-auto-flow: column;
  grid-gap: variables.spacing(11);
  background-color: variables.$color-background;
  border-radius: variables.$border-radius-5;
  width: 100%;
}

.step {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: variables.spacing(2);
  padding: variables.spacing(2);
  border-top-left-radius: variables.$border-radius-5;
  border-bottom-left-radius: variables.$border-radius-5;
  position: relative;
  white-space: nowrap;
  cursor: pointer;

  .stepNumber {
    color: variables.$color-input-main;
    background-color: variables.$color-white;
    border-radius: variables.$border-radius-20;
    padding: variables.spacing(0) variables.spacing(1.5);
    font-weight: variables.$font-weight-bold;
    @include mixins.bodyTextSmallStyle;
  }

  .stepLabel {
    @include mixins.bodyTextSmallStyle;
  }

  &.currentStep {
    background-color: variables.$color-primary;
    color: variables.$color-white;
    @include mixins.badgeEndTriangles(variables.$color-primary);

    &:focus {
      box-shadow: inset 0 0 0 2px variables.$color-navigation-icon;
    }
  }
}
