// LAYOUT

@function spacing($amount) {
  @if ($amount == 0) {
    @return 0;
  }
  @return ($amount * 8) + px;
}

// BREAKPOINTS
$mobile: 375px; // smaller than mobile is extra small devices and old mobiles
$tablet: 768px; // smaller than tablet is mobile
$laptop: 1024px; // smaller than laptop is tablet

// TYPOGRAPHY

// Font sizes
$font-size-48: 48px;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

// Line heights
$line-height-title: 1.2;
$line-height-body: 1.4;
$line-height-body-tablet: 1.3;
$line-height-16: 16px;
$line-height-20: 20px;
$line-height-24: 24px;

// Font weights

$font-weight-bold: 700;
$font-weight-normal: 400;

// Colors

$color-background: #131728;
$color-white: #ffffff;
$color-splitter-white: #F7F7FD;
$color-black: #000000;
$color-secondary: #0f0f0f;
$color-primary: #00a767;
$color-card-background: #151B2F;
$color-disabled-background: #96a7a1;
$color-disabled-text: #717b8e;
$color-input-label: #888888;
$color-social-background: #888888;
$color-splitter-text: #BBBBBB;
$color-highlight: #ffb82e;

// Header

$header-height: 136px;
$header-height-tablet: 104px;
$header-height-mobile: 80px;
