// LAYOUT

@function spacing($amount) {
  @if ($amount == 0) {
    @return 0;
  }
  @return ($amount * 4) + px;
}

// BREAKPOINTS
// NOTE: use max-width for media queries
$xs-mobile: 320px; // for solving edge cases on extra small mobiles
$mobile: 599px;
$tablet: 899px;
$laptop: 1199px;

// TYPOGRAPHY

// Font sizes
$font-size-32: 32px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-19: 19px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-13: 13px;
$font-size-12: 12px;

// Line heights
$line-height: 1.5;
$line-height-14: 14px;
$line-height-24: 24px;
$line-height-21: 21px;

// Font weights

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

// Border radius
$border-radius-20: 20px;
$border-radius-6: 6px;
$border-radius-2: 2px;

// Colors
// TODO: will probably update on the go. There are more than 240 colors in the styleguide
// Most likely we will not use all of them, so no point in adding them

$color-primary: #005aa3;
$color-highlight: #ff8000;
$color-dark: #4d4f5d;

$color-secondary-dark: #004277;
$color-secondary: #1769ab;
$color-secondary-light: #4587bc;

$color-submenu-background: #003a68;
$color-submenu-shadow: #00213c;

$color-text-dark: #09090b;
$color-text: #4d4f5d;
$color-text-light: #9799a4;
$color-text-button: #fdfdfd;

$color-background-dark: #e1e2e5;
$color-background: #f0f0f2;
$color-background-disabled: #d2d3d8;
$color-background-card: #f9f9f9;

$color-background-main: #f4f4f6;

$color-border: #d2d3d8;
$color-border-secondary: #5d6071;

$color-success: #308653;
$color-success-light: #ecf4ef;

$color-warning: #ffb511;
$color-warning-light: #fff1d3;

$color-error: #d73e3e;
$color-error-light: #fceeee;

$color-navigation-icon: #a2c3dd;
// Input colors
$color-input-border: #9799a4;
$color-input-main: #5d6071;

$color-white: #ffffff;
$color-black: #000000;

// Box shadows
$template-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);

// helpers

$header-height: 100px;
