@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.topSection {
  padding: variables.spacing(6) variables.spacing(4);
  display: flex;
  justify-content: space-between;
}

.modalTable {
  border: none;
  box-shadow: none;
  margin: variables.spacing(6) 0 0;
}

.tagsRow {
  display: flex;
  :not(:first-child) {
    margin-left: variables.spacing(2);
  }
}

.deadline {
  font-size: variables.$font-size-16;

  &.error {
    color: variables.$color-error;
  }
}

.legend {
  display: flex;
  align-items: center;
  margin-bottom: variables.spacing(2);
}

.padding {
  padding: 0 variables.spacing(14);
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;

  &.private {
    background-color: variables.$color-highlight;
  }
  &.shared {
    background-color: variables.$color-success;
  }
  &.public {
    background-color: variables.$color-secondary;
  }
}
.statusName {
  margin: 0 variables.spacing(6) 0 variables.spacing(2);
  @include mixins.bodyTextSmallStyle;
}

.searchInput {
  margin-top: variables.spacing(4);
  .searchInnerContainer {
    input {
      width: 328px;
    }
  }
}

.exportButtonContainer {
  display: flex;
  align-items: center;
}

.exportToolTip {
  padding-right: 8px;
}
