@use 'styles/variables' as variables;

.header {
  font-size: variables.$font-size-14;
  color: variables.$color-text-dark;
  font-weight: variables.$font-weight-bold;
}
.padding {
  padding-left: variables.spacing(4);
}
.dataTable {
  box-shadow: none;
  border: none;

  td {
    vertical-align: text-top;
  }
  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}

.objectContainer {
  display: flex;
}
