@import 'styles/variables';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: spacing(4);
  margin-top: spacing(8);

  .translationMemories {
    grid-column: 1/3;
  }

  .catJobs {
    margin-top: spacing(6);
  }
}

.taskDetailsContainer {
  display: flex;
  flex-direction: column;
  display: inline-flex;
}

.taskContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: spacing(6);
}

.taskDetails {
  text-align: end;
  max-width: 125px;
}

.taskContent {
  font-weight: $font-weight-bold;
  width: 274px;
  padding-left: spacing(2.5);
}

.specialInstructions {
  // justify-content: flex-start;
  // margin-bottom: spacing(4);

  // label {
  //   text-align: end;
  // }
  // input,
  // textarea {
  //   width: 274px;
  //   // height: 80px;
  //   display: block;
  // }
  // justify-content: flex-end;

  label {
    font-weight: $font-weight-bold;
  }
}
