@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.selectionsContainer {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.helperText {
  color: variables.$color-secondary-dark;
  @include mixins.subtitleSmallTextStyle;
  padding-top: variables.spacing(1);
}

.toggleDropdown {
  display: grid;
  grid-template-columns: auto max-content;
  padding: variables.spacing(2);
  border: 1px solid variables.$color-text-light;
  border-radius: 4px;
  background: variables.$color-white;
  height: 40px;
  text-align: left;
  overflow: hidden;
  width: 100%;

  &.error {
    border: 1px solid variables.$color-error;
    border-radius: 5px;
  }

  &:focus {
    border: 1px solid variables.$color-primary;
    border-radius: 5px;
  }

  &.m svg g path {
    fill: variables.$color-text-dark;
  }

  &.s {
    border: 1px solid variables.$color-border;
    border-radius: 5px;
  }

  &:disabled {
    background-color: variables.$color-background;
    pointer-events: none;

    &:focus {
      border: 1px solid variables.$color-text-light;
    }

    svg g path {
      fill: variables.$color-input-border;
    }
  }
}

.openDropdownIcon {
  transform: rotate(180deg);
}

.l {
  width: 274px;
}

.m {
  width: 150px;
}

.s {
  width: 77px;
}

.xs {
  min-width: 47px;
  height: 32px;
}

.w-full {
  width: 100%;
}

.menuLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: variables.$color-text-light;

  &.selectedValue {
    color: variables.$color-text-dark;
  }
}

.selectionsError {
  top: variables.spacing(12);
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: variables.spacing(2) variables.spacing(2) 0 0;
  padding: variables.spacing(0.625) variables.spacing(1);
}
