@import 'styles/variables';
@import 'styles/mixins';

.selectionsContainer {
  display: flex;
  align-items: baseline;
  width: 100%;

  svg {
    position: absolute;
    right: spacing(2);
    top: spacing(2);
    pointer-events: none;
  }
}

.toggleDropdown {
  padding: spacing(2) spacing(8) spacing(2) spacing(2);
  color: $color-text-light;
  border: 1px solid $color-text-light;
  border-radius: 4px;
  background: $color-white;
  height: 40px;
  text-align: left;
  overflow: hidden;

  &:focus {
    border: 1px solid $color-primary;
    border-radius: 5px;
  }

  &.m svg g path {
    fill: $color-text-dark;
  }

  &.s {
    border: 1px solid $color-border;
    border-radius: 5px;
  }
}

.disabledDropdown {
  &:focus {
    border: 1px solid $color-text-light;
  }
}

.disabledDropdownIcon g path {
  fill: $color-background;
}

.openDropdownIcon {
  transform: rotate(180deg);
}

.l {
  width: 274px;
}

.m {
  width: 150px;
}

.s {
  width: 77px;
}

.menuLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.selectionsError {
  top: spacing(12.5);
}
