@import 'styles/variables';

.modalFooter {
  display: flex;
  margin-top: spacing(3);
  justify-content: flex-end;
}

.modalButton {
  margin-left: spacing(1);
  margin-right: spacing(3);
}

.customDialogContent {
  max-width: spacing(69.5);
}
