@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.peopleContainer {
  display: grid;
  grid-template-columns: minmax(auto, 409px) minmax(auto, 409px);
  grid-gap: variables.spacing(10);
  padding: variables.spacing(4);
  padding-bottom: variables.spacing(8);
  border-radius: variables.$border-radius-4;
}

.toolTip {
  margin-right: auto;
  margin-left: variables.spacing(4);
}

.detailsContainer {
  display: grid;
  grid-template-columns: minmax(auto, 409px) auto;
  grid-column-gap: variables.spacing(10);
  padding: variables.spacing(4);
  padding-bottom: variables.spacing(8);
  margin-top: variables.spacing(2);
  border-radius: variables.$border-radius-4;

  h2 {
    @include mixins.h3TextStyle;
    color: variables.$color-primary;
    padding-left: variables.spacing(4);
    margin-bottom: variables.spacing(4);
  }
}

.formButtons {
  display: flex;
  justify-content: space-between;
  margin-top: variables.spacing(8);
}

.wrapper {
  margin-top: variables.spacing(2);
  &.existingProjectWrapper {
    .formButtons {
      margin-top: variables.spacing(2);
      justify-content: flex-end;
      grid-column: 1/3;

      button:last-child {
        margin-left: variables.spacing(2);
      }
    }
  }

  &.viewModeWrapper {
    margin-top: unset;
    background: variables.$color-white;
    border: 1px solid variables.$color-border;
    border-radius: 0 0 variables.$border-radius-4 variables.$border-radius-4;
    box-shadow: 0 0 20px 0 rgba(0, 39, 69, 0.10);
    padding: variables.spacing(2);
    border: unset;

    .detailsContainer {
      h2 {
        padding-left: unset;
      }
    }

    .formButtons {
      padding-bottom: variables.spacing(4);
    }

    .peopleContainer,
    .detailsContainer {
      grid-template-columns: 1fr 1fr;;
      border: unset;
      box-shadow: unset;
      border-radius: unset;
      padding-bottom: unset;
    }
  }
}

.expandableContentTitle {
  @include mixins.h3TextStyle;
  color: variables.$color-input-main;
}
