@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.tagsHeader {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  grid-gap: variables.spacing(4);
}

.tagsContainer {
  grid-template-columns: auto auto auto;
  margin-top: variables.spacing(6);
  padding: variables.spacing(6) variables.spacing(8);
  grid-gap: variables.spacing(2);
}

.addingTag {
  color: variables.$color-primary;
  padding-bottom: variables.spacing(4);
}

.tagsSection {
  display: grid;
  border-left: 1px solid variables.$color-background-dark;
  padding-left: variables.spacing(4);
}

.categorySection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tagInputField {
  p {
    color: variables.$color-text-dark;
  }
  input {
    width: 508px;
    height: 100%;
    padding: variables.spacing(2);
  }
}

.addButton {
  margin-top: variables.spacing(4);
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: variables.spacing(8);
  & > * {
    margin-right: variables.spacing(6);
  }
}
