@import 'styles/variables';
@import 'styles/mixins';

.dialogOverlay {
  background-color: $color-secondary-dark;
  opacity: 0.7;
  backdrop-filter: blur(10px);
  position: fixed;
  inset: 0;
}

.dialogContent {
  background-color: $color-white;
  border: 2px solid $color-border;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100%;
  padding: spacing(10) 0;
}

.dialogTitle {
  padding: 0 spacing(17.5) spacing(4) spacing(17.5);
  @include h1TextStyle;
}

.dialogDescription {
  padding: 0 spacing(17.5);
}

.topButton {
  position: absolute;
  top: spacing(-16);
  right: 0;
}

.scrollableContent {
  max-height: 40vh;
  overflow: auto;
}

.big {
  max-width: 1208px;
}

.medium {
  max-width: 980px;
}

.narrow {
  max-width: 556px;
}

.right,
.spaceBetween {
  display: flex;
  padding-top: spacing(6);
  padding-right: spacing(6);
}

.right {
  justify-content: flex-end;
}

.spaceBetween {
  padding-left: spacing(6);
  justify-content: space-between;
}

.none {
  display: none;
}

.modalButton {
  margin-left: spacing(2);
}

.black {
  color: $color-text-dark;
}

.gray {
  color: $color-input-main;
}

.progressBar {
  margin-top: spacing(17.5);
}
