@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.topSection {
  margin-top: variables.spacing(6);
}

.checkbox {
  margin-top: variables.spacing(4);
}

.tagsRow {
  display: flex;
  :not(:first-child) {
    margin-left: variables.spacing(2);
  }
}

.deadline {
  font-size: variables.$font-size-16;

  &.error {
    color: variables.$color-error;
  }
}

.noTasks {
  @include mixins.subtitleSmallTextStyle;
  color: variables.$color-text;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: variables.spacing(14);
}
