@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.modalContent {
  background-color: variables.$color-background;
  padding-bottom: variables.spacing(6);

  h1 {
    width: 527px;
  }

  h2 {
    @include mixins.h6TextStyle;
    margin-top: variables.spacing(6);
  }

  .buttonsContainer {
    padding-bottom: variables.spacing(4);
  }

  .institution {
    width: 100%;
    margin-top: variables.spacing(4);
    border-radius: 4px;
    border: 1px solid variables.$color-border;
    padding: variables.spacing(2.25) variables.spacing(3.75);
    filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.15));

    &:focus {
      box-shadow: inset 0 0 0 2px variables.$color-primary;
    }

    span {
      color: variables.$color-primary;
      font-weight: variables.$font-weight-bold;
    }
  }
}