@use 'styles/variables' as variables;

.headComponentContainer {
  margin: variables.spacing(6) variables.spacing(4);
  display: flex;
  justify-content: space-between;
}

.subProjectContainer {
  margin-top: variables.spacing(2);
}

.newButtonContainer {
  display: flex;
  align-items: center;
}

.newButtonTooltip {
  padding-right: 8px;
}
