@import 'styles/variables';

.headComponentContainer {
  margin: spacing(6) spacing(4);
  display: flex;
  justify-content: space-between;
}

.subProjectContainer {
  margin-top: spacing(2);
}

.newButtonContainer {
  display: flex;
  align-items: center;
}

.newButtonTooltip {
  padding-right: 8px;
}
