@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.tab {
  padding: variables.spacing(4);
  color: variables.$color-text-dark;
  border: 1px solid transparent;

  svg {
    margin-left: variables.spacing(1);
  }

  &.active {
    background: variables.$color-white;
    border: 1px solid variables.$color-border;
    border-bottom: 1px solid white;
    color: variables.$color-primary;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 4px 10px variables.$color-shadow-main;

    &:focus-visible,
    &:focus {
      box-shadow: 0 4px 10px variables.$color-shadow-main, inset 0 0 0 2px variables.$color-primary;
    }
  }

  span {
    position: relative;
    white-space: pre;
  }

  .editMode {
    .valueContainer {
      opacity: 0;
    }
  }

  .innerInput {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &.primaryTab {
    color: variables.$color-primary;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding-bottom: variables.spacing(3);
    &:not(:first-child) {
      margin-left: variables.spacing(2);
    }

    &.active {
      background: variables.$color-primary;
      color: variables.$color-white;
      border-color: variables.$color-primary;
    }
  }
}
