@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.formContainer {
  display: flex;
  flex-direction: column;
  width: 514px;
  background: variables.$color-white;
  padding: variables.spacing(6) variables.spacing(8) variables.spacing(6) 0;
  border: 1px solid variables.$color-border;
  border-radius: 6px;
  box-shadow: 0 4px 10px variables.$color-shadow-main;
  margin-top: variables.spacing(6);

  .formButtons {
    align-self: end;
    padding-top: variables.spacing(2);
  }

  .inputInternalPosition {
    justify-content: flex-end;
    margin-bottom: variables.spacing(4);
    padding-right: variables.spacing(10);

    >input {
      width: 274px;
    }
    >div>input {
      width: 274px;
    }
  }
}
