@use 'styles/variables' as variables;

.titleRow {
  display: flex;
  align-items: center;
  margin-bottom: variables.spacing(4);
}

.toolbar {
  display: flex;
  align-items: flex-end;
  margin-bottom: variables.spacing(3);
}

.searchInput {
  width: 320px;
}

.tabsContainer {
  button {
    text-decoration: none;
    background: variables.$color-white;
    border-color: variables.$color-white;

    span {
      font-size: variables.$font-size-14;
      font-weight: variables.$font-weight-bold;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
