@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: variables.spacing(4) variables.spacing(6);
  background-color: variables.$color-background-card;

  .saveButton {
    margin-top: variables.spacing(6);
    align-self: flex-end;
  }

  .saveHelper {
    align-self: flex-end;
    font-size: variables.$font-size-14;
    color: variables.$color-text;
    margin-top: variables.spacing(2);
  }
}

.filesListContainer {
  box-shadow: unset;
  border: unset;
  background-color: variables.$color-background-card;

  .iconButton {
    display: flex;
    svg {
      width: 16px;
      height: 16px;
    }

    &.disabled {
      cursor: not-allowed;
      svg path {
        fill: variables.$color-background-disabled;
      }
      &:focus {
        box-shadow: inset 0 0 0 2px variables.$color-error;
      }
    }

    .downloadButton {
      svg {
        path {
          fill: variables.$color-primary;
        }
      }
      &:focus {
        box-shadow: inset 0 0 0 2px variables.$color-primary;
      }
    }

    .row {
      display: flex;
    }

    .innerTooltip {
      margin-left: variables.spacing(2);
    }

    &.increasedSpecificity {
      thead {
        tr {
          th {
            padding: unset;
            padding-right: variables.spacing(8);
            border: transparent;
            vertical-align: top;
            height: 60px;
            min-height: 60px;
            &:first-child {
              min-width: 78px;
              max-width: 78px;
              width: 78px;
              white-space: pre-wrap;
              padding-right: variables.spacing(1);
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding: unset;
            padding-right: variables.spacing(8);
            border: transparent;
            height: 32px;
            max-height: 32px;

            &:first-child {
              padding-right: variables.spacing(1);
              width: 78px;
            }
            &:nth-last-child(2),
            &:last-child {
              padding: variables.spacing(1);
            }
          }
        }
      }
    }

    .fitContent {
      width: fit-content;
    }
  }
}

.titleRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: variables.spacing(4);

  .fileImportButton {
    margin-left: auto;
  }
}

.header {
  color: variables.$color-text-dark;
}

.fileName {
  font-weight: variables.$font-weight-bold;
}

.createdAt {
  color: variables.$color-input-main;
  font-size: variables.$font-size-14;
}

.wrappedFileName,
.wrappedHeader {
  white-space: break-spaces;
}

.wrappedHeader {
  height: variables.spacing(16);
  vertical-align: top;
}
