@use 'styles/variables' as variables;

.assignmentContainer {
  display: grid;
  grid-template-columns: minmax(auto, 409px) auto;
  grid-column-gap: variables.spacing(10);
  margin-top: variables.spacing(4);
  border-top: 1px solid variables.$color-border-secondary;
  padding-top: variables.spacing(8);

  h3 {
    color: variables.$color-primary;
  }
}

.assignmentId {
  font-weight: variables.$font-weight-bold;
  margin-top: variables.spacing(2);
}

.addButton {
  margin-top: variables.spacing(6);
}

.addButtonRow {
  display: flex;
  align-items: center;
  gap: variables.spacing(3);
  margin-top: variables.spacing(6);
  flex-wrap: wrap;
}

.fullWidth {
  grid-column: 1 / 3;
}

.formButtons {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: variables.spacing(6);
  margin-bottom: variables.spacing(4);

  > :last-child {
    margin-left: variables.spacing(2);
  }
}

.deleteButton {
  padding-left: variables.spacing(2);
  display: flex;
  align-items: center;

  &:focus {
    box-shadow: inset 0 0 0 2px variables.$color-error;
  }
}

.titleContainer {
  display: flex;
}
