@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.breadcrumbs {
  display: flex;
  margin-top: variables.$header-height;
  padding: variables.spacing(3) variables.spacing(6);

  .nav {
    display: flex;
    align-items: center;

    a {
      @include mixins.subtitleSmallTextStyle;
    }

    .active {
      color: variables.$color-input-main;
    }

    .notActive {
      color: variables.$color-primary;
    }

    .arrow {
      margin: 0 variables.spacing(2);

      g path {
        fill: variables.$color-input-main;
      }
    }
    .hidden {
      display: none;
    }
  }
}
