@import 'styles/variables';
@import 'styles/mixins';

.breadcrumbs {
  display: flex;
  align-items: center;

  a {
    @include subtitleSmallTextStyle;
  }

  .active {
    color: $color-input-main;
  }

  .notActive {
    color: $color-primary;
  }

  .arrow {
    margin: 0 spacing(2);

    g path {
      fill: $color-input-main;
    }

    &:last-child {
      display: none;
    }
  }
}
