@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  flex: 1;

  .generateSection {
    margin-top: variables.spacing(4);
  }

  .fitContent {
    width: fit-content;
  }

  .linkButton {
    margin-left: auto;
    margin-top: variables.spacing(6);
  }
}

.filesListContainer {
  box-shadow: unset;
  border: unset;

  .dropdown {
    width: 21px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .dropdownInnerButton {
      transform: unset;
      svg {
        width: 21px;
        height: 20px;
        margin-left: unset;
      }
    }
  }
  
  .downloadButton {
    svg {
      path {
        fill: variables.$color-primary;
      }
    }
  }

  .row {
    display: flex;
  }

  .innerTooltip {
    margin-left: variables.spacing(2);
  }

  thead {
    tr {
      th {
        &:first-child {
          padding-right: variables.spacing(20);
        }
      }
    }
  }

  .fitContent {
    width: fit-content;
  }
}

.titleRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: variables.spacing(4);

  h3 {
    @include mixins.h4TextStyle;
    margin-right: variables.spacing(2);
  }
}

.loader {
  &::before {
    content: ' ';
    display: block;
    width: 18px;
    height: 18px;
    margin-right: variables.spacing(2);
    border-radius: 50%;
    border: 3px solid variables.$color-background;
    border-top-color: variables.$color-primary;
    border-right-color: variables.$color-primary;
    animation: spin 1.2s linear infinite;
  }
}