@use 'styles/variables' as variables;

.container {
  padding: variables.spacing(6) variables.spacing(4);
  margin-top: variables.spacing(6);
}

.logsHeader {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  grid-gap: variables.spacing(4);
}

.inputSection {
  padding-top: variables.spacing(2);
}

.logsContainer {
  display: flex;
  padding-top: variables.spacing(6);
  flex-wrap: wrap;
  & > * {
    margin: 10px;
  }
}

.filters {
  color: variables.$color-primary;
}

.searchInput {
  display: flex;
  margin-top: variables.spacing(2);
}

.dateInput {
  display: flex;
  justify-content: flex-end;
}

.searchInnerContainer {
  input {
    min-width: 591px;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.filterButton {
  margin-left: variables.spacing(2);
}

.downloadButton {
  padding-top: variables.spacing(8);
}

.dateTabsRow {
  display: flex;
  align-items: center;
}

.dateTabs {
  background-color: variables.$color-text-light;

  span {
    color: variables.$color-text;
  }
}

.noResults {
  text-align: center;
}
.hidden {
  display: none;
}

.picInputContainer {
  input {
    width: 274px;
  }
}