@import 'styles/variables';

.manualContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: spacing(25);
}

.title {
  grid-column-start: 1;
}

.manualContent {
  grid-column-start: 1;
}

.manualTitleContainer {
  display: flex;
  padding-left: spacing(8);
  flex-direction: column;
}
