@import 'styles/variables';
@import 'styles/mixins';

.languageContianer {
  display: block;
}

.sourceLanguage {
  padding-top: spacing(4);
  display: inline-block;
}

.languageTag {
  background-color: $color-tag;
  border-radius: $border-radius-4;
  color: $color-primary;
  @include bodyTextSmallStyle;
  font-weight: $font-weight-bold;
  padding: spacing(0.6) spacing(1);
  width: fit-content;
  margin-left: spacing(2.5);
  display: inline-block;
}

.destinationLanguage {
  padding-top: spacing(6);
  display: inline-block;
}
