@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.languageContianer {
  display: block;
}

.sourceLanguage {
  padding-top: variables.spacing(4);
  display: inline-block;
}

.languageTag {
  background-color: variables.$color-tag;
  border-radius: variables.$border-radius-4;
  color: variables.$color-primary;
  @include mixins.bodyTextSmallStyle;
  font-weight: variables.$font-weight-bold;
  padding: variables.spacing(0.6) variables.spacing(1);
  width: fit-content;
  margin-left: variables.spacing(2.5);
  display: inline-block;
}

.destinationLanguage {
  padding-top: variables.spacing(6);
  display: inline-block;
}
