@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.btn {
  display: flex;
  appearance: none;
  align-items: center;
  color: variables.$color-white;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
  border-radius: variables.$border-radius-20;
  background-color: variables.$color-primary;
  height: fit-content;

  &:focus {
    outline: none;
  }
}

.m {
  @include mixins.buttonTextStyle;
}

.s {
  @include mixins.smallButtonTextStyle;
}

.buttonText {
  order: 2;
}

.right {
  svg {
    order: 3;
    padding-left: variables.spacing(1);
  }
}

.left {
  svg {
    order: 1;
    padding-right: variables.spacing(1);
  }
}

.primary {
  background-color: variables.$color-primary;

  &:hover,
  &:active,
  &:focus {
    background-color: variables.$color-secondary-dark;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px variables.$color-navigation-icon;
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: variables.$color-background-disabled;
    border: none;
  }

  &.m {
    padding: variables.spacing(2) variables.spacing(10);

    &.customIconPadding {
      padding: variables.spacing(2) variables.spacing(6);
    }
  }

  &.s {
    padding: variables.spacing(0.75) variables.spacing(6);
  }
}

.secondary {
  background-color: variables.$color-white;
  border: 2px solid variables.$color-border-secondary;
  color: variables.$color-text;

  .loader{
    height: 18px;
  }


  svg g path {
    fill: variables.$color-border-secondary;
  }

  &:hover,
  &:active {
    border: 2px solid variables.$color-border;
  }

  &:focus {
    border: 2px solid variables.$color-primary;
  }

  &.disabled {
    cursor: not-allowed;
    color: variables.$color-text-light;
    background-color: variables.$color-background;
    border: 2px solid variables.$color-background-disabled;

    svg g path {
      fill: variables.$color-input-border;
    }
  }

  &.m {
    padding: variables.spacing(1.5) variables.spacing(10);

    &.customIconPadding {
      padding: variables.spacing(1.5) variables.spacing(6);
    }
  }

  &.s {
    padding: variables.spacing(0.25) variables.spacing(6);
  }
}
.customIconPadding svg {
  height: variables.spacing(4);
  width: variables.spacing(4);
}

.text {
  padding: 0;
  background: none;
  color: variables.$color-primary;
  border-radius: 0;

  svg g path,
  svg path {
    fill: variables.$color-primary;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px variables.$color-primary;
  }

  &.disabled {
    cursor: not-allowed;
    color: variables.$color-text-light;
    text-decoration: none;
    box-shadow: none;

    svg g path,
    svg path {
      fill: variables.$color-text-light;
    }
  }
}
