@import 'styles/variables';
@import 'styles/mixins';

.dropdownMenu {
  background: $color-white;
  border: 1px solid $color-border;
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  z-index: 1;
  max-height: 50vh;
  overflow: auto;
}

.dropdownMenuItem {
  cursor: pointer;
  list-style-type: none;
}

.option {
  @include labelTextStyle;
  padding: spacing(2);
}

.selectedOption {
  @include subtitleTextStyle;

  &:focus {
    @include subtitleTextStyle;
  }
}

.buttonsContainer {
  display: flex;
  padding: spacing(4.5) 0 spacing(3) 0;
}

.l {
  width: 274px;
}

.m {
  width: 150px;
}

.s {
  width: 77px;
}

.helperText {
  color: #004277;
  @include subtitleSmallTextStyle;
  padding-top: spacing(1);
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  @include bodyTextSmallStyle;
  color: #005aa3;
  font-weight: $font-weight-bold;
  background-color: #e7f0f6;
  border-radius: 4px;
  margin: spacing(1);
  padding: 2.5px 4px;
}
