@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.titleRow {
  display: grid;
  grid-template-columns: max-content;
  align-items: center;
  grid-gap: variables.spacing(2);
  margin-bottom: variables.spacing(6);
}
.title {
  margin-bottom: variables.spacing(2);
}

.formRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: variables.spacing(6);
  align-items: start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.sessionsGap {
  margin-top: variables.spacing(6);
}

.dateText {
  @include mixins.bodyTextSmallStyle;
  color: variables.$color-input-main;
  &:first-of-type {
    margin-top: variables.spacing(2);
  }
}
