@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.titleRow {
  display: grid;
  grid-template-columns: max-content;
  align-items: center;
  grid-gap: variables.spacing(2);
  margin-bottom: variables.spacing(6);
}
.title {
  margin-bottom: variables.spacing(2);
}

.dateText {
  @include mixins.bodyTextSmallStyle;
  color: variables.$color-input-main;
  &:first-of-type {
    margin-top: variables.spacing(2);
  }
}
