@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.formContainer {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: variables.spacing(21);
}

.form {
  width: max-content;

  .inputInternalPosition {
    display: grid;
    grid-template-columns: 130px auto;
    grid-gap: variables.spacing(10);

    label {
      justify-self: end;
    }

    &:disabled,
    &:hover {
      cursor: auto;
    }

    input,
    :disabled,
    :hover {
      border: none;
      background-color: variables.$color-white;
    }
    ::placeholder {
      color: variables.$color-text-dark;
    }
    &.updateInput {
      margin-bottom: variables.spacing(4);
      input {
        width: 274px;
        border: 1px solid variables.$color-border-secondary;
      }
    }
  }
}

.formButtons {
  justify-self: end;
  padding-top: variables.spacing(2);
  width: max-content;
}

.container {
  border-top: unset;

  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  h2 {
    @include mixins.h3TextStyle;
    margin-bottom: variables.spacing(8);
  }

  .formContainer {
    display: grid;
    grid-gap: variables.spacing(4);
    grid-template-columns: 1fr 1fr;
  }
}

.dateTimeContainer {
  display: grid;
  height: max-content;
  grid-auto-rows: 40px;
  align-items: center;
}
