@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.column {
  display: flex;
  flex-direction: column;
  padding: variables.spacing(4) 0;
}

.radioRow {
  margin-bottom: variables.spacing(4);
}