@use 'styles/variables' as variables;

.formButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: variables.spacing(4);
  align-items: center;

  >:last-child {
    margin-left: variables.spacing(2);
  }
}