@use 'styles/variables' as variables;

.tooltipWrapper {
  position: relative;
  display: flex;
}

.tooltipContent {
  background: variables.$color-text-button;
  text-align: center;
  border-radius: 5px;
  width: 230px;
  padding: variables.spacing(1);
  position: absolute;
  bottom: calc(100% + #{variables.spacing(2)});
  left: variables.spacing(-6);
  z-index: 5;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  display: none;
  word-break: break-word;
  white-space: normal;

  &.bottomPosition {
    bottom: unset;
    top: variables.spacing(8);

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid variables.$color-text-button;
      border-top: unset;
      margin-top: variables.spacing(-2);
      margin-left: variables.spacing(6);
      filter: drop-shadow(0px -2px 2px variables.$color-shadow-secondary);
    }
  }

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid variables.$color-text-button;
    margin-top: variables.spacing(1);
    margin-left: variables.spacing(6);
    filter: drop-shadow(0px 2px 2px variables.$color-shadow-secondary);
  }
}

.tooltipWrapper:hover,
.tooltipWrapper:focus {
  .tooltipContent {
    display: block;
  }
}

.tooltipContent {
  &.visible {
    display: block;
  }
}

.infoIcon {
  height: 24px;
  width: 24px;
  g path {
    fill: variables.$color-primary;
  }
}
