@use 'styles/variables' as variables;

.mainContainer {
  display: flex;
  min-height: 100vh;

  .contentContainer {
    position: relative;
    width: 100%;
    overflow-x: hidden;

    .scrollableContent {
      height: calc(100vh - #{variables.$header-height} - #{variables.$breadcrumb-height});
      width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: variables.spacing(6);
    }

    .scrollableContentFull {
      height: 100vh;
      padding: 0;
    }
  }
}
