@import 'styles/variables';
@import 'styles/mixins';

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing(4);

  .buttonsContainer {
    display: flex;
    :first-child {
      margin-right: spacing(2);
    }
  }
}

.dateText {
  @include bodyTextSmallStyle;
  color: $color-input-main;
  &:first-of-type {
    margin-top: spacing(2);
  }
}

.archiveContent {
  color: $color-primary;
}

.deactivationDate {
  span {
    @include bodyTextStyle;
    color: $color-error;
  }
  padding: spacing(6) 0 spacing(8) 0;
}

.editIcon {
  padding-left: spacing(4);
  position: relative;
  top: spacing(1);
}

:global(.react-datepicker__tab-loop) {
  position: fixed;
  z-index: 1;
}

.deactivateDynamicForm {
  padding-top: spacing(6);
}

.deactivateContent > div > div > div,
.activateContent > div > div > div {
  color: $color-primary;
}

.activateContent h1,
.deactivateContent h1,
.activateContent > div > div,
.deactivateContent > div > div {
  max-width: 70%;
}

.activateDynamicForm {
  padding-top: spacing(5);
  padding-bottom: spacing(10);
}

.checkboxInputClass {
  padding-top: spacing(4);
}
