@import 'styles/variables';
@import 'styles/mixins';

.categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: spacing(8);
  grid-gap: spacing(6);
}

.category {
  padding: spacing(2) spacing(4);
}

.tagCategoryNameContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.categoryName {
  @include bodyTextSmallStyle;
  text-decoration: underline;
  color: $color-input-main;
}

.editIcon svg {
  height: 20px;
  width: 21px;
}

.tagCategorySeparator {
  margin: spacing(2) 0 spacing(4) 0;
  height: 1px;
  background-color: $color-background-disabled;
}

.tagName {
  @include bodyTextSmallStyle;
}
