@import 'styles/variables';
@import 'styles/mixins';

.peopleContainer {
  grid-template-columns: minmax(auto, 466px) minmax(auto, 409px) auto;
  grid-gap: spacing(16);
  padding: spacing(4);
  padding-bottom: spacing(8);
}

.detailsContainer {
  grid-template-columns: minmax(auto, 409px) auto;
  grid-column-gap: spacing(10);
  padding: spacing(4);
  padding-bottom: spacing(8);
  margin-top: spacing(2);

  h2 {
    @include h3TextStyle;
    color: $color-primary;
    padding-left: spacing(4);
    margin-bottom: spacing(4);
  }
}

.formButtons {
  display: flex;
  justify-content: space-between;
  margin-top: spacing(8);
}


.wrapper {
  &.overwriteContainerStyles {
    background: $color-white;
    border: 1px solid $color-border;
    box-shadow: 0 4px 10px $color-shadow-main;
    border-radius: $border-radius-6;
    padding: spacing(2);

    .peopleContainer,
    .detailsContainer {
      grid-template-columns: 1fr 1fr;;
      border: unset;
      box-shadow: unset;
      border-radius: unset;
      padding-bottom: unset;
    }

    .detailsContainer {
      h2 {
        padding-left: unset;
      }
    }
  }
} 