@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.container {
  position: absolute;
  height: 146px;
  z-index: 4;
}

.dragAndDropContainer {
  height: 100%;
  background: variables.$color-text-button;
  border: 1px solid variables.$color-border-black-coral;
  border-radius: 5px;
  width: 318px;
  padding: variables.spacing(4) variables.spacing(4) variables.spacing(2) variables.spacing(4);
  position: relative;
  box-shadow: 0px 0px 2px variables.$color-shadow-main, 0px 2px 2px variables.$color-checkbox-focus,
    0px 1px 3px variables.$color-shadow-secondary;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid variables.$color-text-button;
    margin-top: 6px;
    filter: drop-shadow(0px 2px 2px variables.$color-shadow-secondary);
  }

  &.rightIndicator {
    &::after {
      margin-left: calc(100% - 48px);
    }
  }
}

.dragAndDropContent {
  border: 1px dashed variables.$color-border-secondary;
  border-radius: 2px;
  padding: variables.spacing(3.5) 0 variables.spacing(5) 0;
  text-align: center;
}

.dragAndDropText {
  @include mixins.bodyTextSmallStyle;
  padding-top: variables.spacing(0.5);
  display: inline-flex;
}

.dropButton {
  margin-left: variables.spacing(2);
}

.multipleFilesText {
  font-size: variables.$font-size-12;
  font-weight: variables.$font-weight-normal;
  padding-top: variables.spacing(1);
  height: variables.spacing(6);
}
