@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.expandableContainer {
  margin-top: variables.spacing(8);
}
.errorTooltip {
  svg {
    path {
      fill: variables.$color-error;
    }
  }
}

.translationMemoriesTable {
  border: unset;
  box-shadow: unset;
}

.mainButton {
  margin-left: variables.spacing(2);
}

.headerTooltip {
  margin-left: variables.spacing(2);
}

.iconButton {
  display: flex;
  padding: variables.spacing(1);

  &:focus {
    box-shadow: inset 0 0 0 2px variables.$color-error;
  }
}
