@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.container {
  display: flex;
  align-items: center;
  width: 100%;

  .label {
    @include mixins.labelTextStyle;
    display: inline-block;
    padding-right: variables.spacing(2.5);
  }

  .wrapper {
    display: inline-block;
    flex-direction: column;
    position: relative;
  }

  .hiddenLabel {
    display: none;
  }

  .errorMessage input {
    border: 1px solid variables.$color-error;
    border-radius: 5px;
  }
}
