@import 'styles/variables';
@import 'styles/mixins';


.formContainer {
  display: flex;
  flex-direction: column;
  width: 514px;
  background: $color-white;
  padding: spacing(6) spacing(8) spacing(6) 0;
  border: 1px solid $color-border;
  border-radius: 6px;
  box-shadow: 0 4px 10px $color-shadow-main;

  .formButtons {
    align-self: end;
    padding-top: spacing(2);
  }

  .inputInternalPosition {
    justify-content: flex-end;
    margin-bottom: spacing(4);
    margin-right: spacing(10);

    input {
      width: 274px;
    }
  }
}

.container {
  border-top: unset;

  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  h2 {
    @include h3TextStyle;
    margin-bottom: spacing(8);
  }



  .formContainer {
    display: grid;
    grid-gap: spacing(4);
    grid-template-columns: 1fr 1fr;
  }
}

.deleteButton {
  color: $color-error;
  margin-left: auto;
  margin-bottom: spacing(6);
}
