@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.sidebarContainer {
  width: 208px;
  flex-shrink: 0;
  background-color: variables.$color-primary;
  scrollbar-width: none;
  transition: width .1s ease-out;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .collapsedIcon {
    display: none;
  }

  .expandedIcon {
    display: initial;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .menuList {
    display: flex;
    flex-direction: column;
    flex: 1;

    > li:nth-last-child(2) {
      margin-top: auto;
    }
  }

  .listItem {
    height: 48px;
    color: variables.$color-white;
    font-size: variables.$font-size-14;
    width: 100%;
    display: flex;
    align-items: center;
    padding: variables.spacing(3.5) variables.spacing(2);
    box-shadow: inset 0px -1px 0px variables.$color-submenu-background;


    &:hover {
      background-color: variables.$color-secondary;
    }

    &:active {
      background-color: variables.$color-secondary-light;
    }

    &:focus-visible {
      outline: variables.$color-white 2px solid;
      width: calc(100% - 6px);
      margin-left: 3px;
      outline-offset: unset;
    }

    &[aria-current=page] {
      background: variables.$color-secondary-light;
    } 

    .itemIcon {
      margin-right: variables.spacing(2);
    }

    span {
      flex: 1;
      text-align: left;
      // Weird hack needed to match design.
      margin-top: 1px;
    }

    .dropdownIcon {
      transform: rotate(180deg);
    }

    &[aria-expanded=true] {

      .dropdownIcon {
        transform: rotate(0deg);
      }

      + .subMenu {
        display: block;
      }
    }

    &.interListItem {
      border-top: 2px solid variables.$color-white;
      border-bottom: 2px solid variables.$color-white;
      > span {
        text-transform: uppercase;
        @include mixins.h6TextStyle;
      }
    }
  }

  .subMenu {
    display: none;

    &:not(.interSubMenu) {
      .listItem {
        background-color: variables.$color-submenu-background;
        box-shadow: inset 0 -1px 0 variables.$color-submenu-shadow;
        padding-left: variables.spacing(8);
      }
    }
  }

  &.collapsed {
    width: 56px;
    overflow-x: hidden;

    .collapsedIcon {
      display: initial;
    }

    .expandedIcon {
      display: none;
    }

    .listItem {
      justify-content: center;
      span {
        display: none;
      }

      svg {
        width: 24px;
        height: 24px;
      }

      svg path {
        fill: variables.$color-white;
      }

      .itemIcon {
        margin-right: 0;
      }


    &[aria-expanded=true] {
      + .subMenu {
        display: none;
      }
    }

      &.interListItem {
        display: none;

        &[aria-expanded=false],
        &[aria-expanded=true] {
          + .subMenu {
            display: block;
          }
        }
      }
    }
  }
}
