@use 'styles/variables' as variables;

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  p {
    margin-right: variables.spacing(2);
    color: variables.$color-primary;
  }

  .generateButton {
    span {
      white-space: nowrap;
    }
  }
}