@use 'styles/variables' as variables;

.errorContainer {
  position: absolute;
  display: flex;
  align-items: center;
  padding: variables.spacing(1.5) variables.spacing(10) variables.spacing(1.5) variables.spacing(1);
  white-space: nowrap;
  width: fit-content;
  top: calc(100% + variables.spacing(2));
  left: 0;
  background-color: variables.$color-error-light;
  z-index: 1;
  filter: drop-shadow(0px 1px 5px variables.$color-shadow-secondary);

  &:before {
    content:"\A";
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent variables.$color-error-light transparent;
    position: absolute;
    left: variables.spacing(2);
    top: variables.spacing(-2);
  }

  span {
    margin-left: variables.spacing(2);
    font-size: variables.$font-size-13;
    b {
      font-weight: variables.$font-weight-bold;
    }
  }
}