@import 'styles/variables';

.iconButton {
  padding: spacing(1);

  svg {
    padding: 0;
  }

  svg g path,
  svg path {
    fill: $color-input-main;
  }
}

.dropDown {
  width: max-content;
  transform: translateX(-43%);
}
