@use 'styles/variables' as variables;

.iconButton {
  padding: variables.spacing(1);

  svg {
    padding: 0;
    width: 20px;
    height: 20px;
  }

  svg g path,
  svg path {
    fill: variables.$color-input-main;
  }
}

.container {
  .dropDown {
    min-width: max-content;
    left: 0;
    top: unset;
  }
}


