@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.editableContainer {
  width: 375px;
  margin-top: variables.spacing(8);
  padding: variables.spacing(2) variables.spacing(4);
  grid-gap: variables.spacing(4);
  grid-template-rows: 32px auto;

  .headerContent {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid variables.$color-border;
    padding-bottom: variables.spacing(2);
    align-items: center;

    .title {
      color: variables.$color-border-secondary;
      text-decoration: underline;
    }

    .editButton {
      padding: variables.spacing(1) variables.spacing(1.5);

      svg {
        width: 21px;
        height: 20px;
      }
    }
    span {
      @include mixins.bodyTextSmallStyle;
    }
  }
  .listItem {
    @include mixins.bodyTextSmallStyle;
  }
}
